.left-side {
  margin: 0px;
}

.left-side-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.left-side-text {
  letter-spacing: 2px;
  color: #4e5456;
  font-family: "Open Sans";
  font-weight: bold;
  border-bottom: 1px solid #b1b5b7;
}

.left-side-li {
  color: #4e5456;
  font-family: "Open Sans";
  border-bottom: 1px solid #b1b5b7;
}

@media only screen and (min-width: 1200px) {
  .left-side-text {
    padding-left: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 18px;
  }
  
  .left-side-li {
    padding-left: 100px;
    font-size: 24px;
    line-height: 50px;

  }
}

@media only screen and (min-width: 768px) and (max-width: 1200px) {
  .left-side-text {
    padding-left: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 15px;
  }
  
  .left-side-li {
    padding-left: 50px;
    font-size: 20px;
    line-height: 40px;
  }
}

@media only screen and (max-width: 768px) {
  .left-side-text {
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 12px;
  }
  
  .left-side-li {
    padding-left: 30px;
    font-size: 16px;
    line-height: 30px;
  }
}

.left-side-li:hover {
  cursor: pointer;
  background-color: lightgray;
  font-weight: bold;
}
