.left-side {
  /* margin: 10px 20px 30px 40px; */
}

.left-side-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.left-side-text {
  padding-left: 100px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 18px;
  letter-spacing: 2px;
  color: #4e5456;
  font-family: "Open Sans";
  font-weight: bold;
  border-bottom: 1px solid #b1b5b7;
}

.left-side-li {
  padding-left: 100px;
  font-size: 24px;
  line-height: 50px;
  color: #4e5456;
  font-family: "Open Sans";
  border-bottom: 1px solid #b1b5b7;
}

.left-side-li:hover {
  cursor: pointer;
  background-color: lightgray;
  font-weight: bold;
}
