.flex-container {
  display: flex;
}

/* .inline-block1 {
  display: inline-block;
  width: 15%;
}

.inline-block2 {
  display: inline-block;
  width: 40%;
}

.inline-block3 {
  display: inline-block;
  margin-left: 5%;
  width: 30%;
} */

.grid-container3 {
  display: inline-grid;
  grid-template-columns: auto auto auto;
}

.grid-container1 {
  display: inline-grid;
  grid-template-columns: auto;
}

.float-right {
  float: right;
}

.right {
  margin-left: 10%;
}

.topside-title {
  font-size: 18px;
  letter-spacing: 2px;
  line-height: 20px;
  color: #4e5456;
  font-family: "Open Sans";
  font-weight: bold;
}
