* {
  box-sizing: border-box;
}

.App {
  height: 100vh;
  width: 100%;
}

.top-bar {
  margin-top: 30px;
  margin-left: 100px;
  margin-bottom: 30px;
  background-color: #ffffff;
}

.left-bar {
  width: 30%;
  height: 1219px;
  float: left;
  background-color: #e5e5e5;
}

.right-bar {
  width: 70%;
  height: 1219px;
  float: left;
  background-color: #f1f1f1;
}
