.grid-item {
  margin-bottom: 10px;
  margin-right: 100px;
}

.radio-container {
  display: inline-block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 12px;
  font-size: 18px;
  letter-spacing: 0px;
  line-height: 5px;
  color: #4e5456;
  font-family: "Open Sans";
  cursor: pointer;
}

.radio-container .check-mark {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #e5e5e5;
}

.radio-container input[type="radio"] {
  opacity: 0;
}

.radio-container:hover .check-mark {
  background-color: #ccc;
}

.radio-container input:checked + .check-mark {
  background-color: #2196F3;
}

.radio-container input:checked + .check-mark::after {
  content: "";
  height:10px;
  width: 10px;
  background-color: white;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}